@font-face {
  font-family: "font-1";
  src: url(../public/fonts/Bricolage_Grotesque/bricolage-grotesque.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../public/fonts/DM_Sans/dm-sans-var.ttf);
}
* {
  color: white;
}
body {
  font-family: "font-2", sans-serif;
  background-color: hsl(243, 96%, 9%);
}
